#main{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    /* width: 1000px; */
    height: 100vh;
}

#main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 800px;
    height: 500px;
}